body{
    background-color: rgb(164, 255, 225);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
}

p{
    text-align: center;
    padding-left: 50px;
}

div{
    width: 49%;
    display: inline-block;
    padding: 0px;
}

ul{
    list-style-type: circle;
    width: 30%;
    margin: 10px auto;
    overflow: auto;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

img{
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link{
    background-color: mintcream;
    padding: 10px;
    color: black;
    border: 2px solid mintcream;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}

a:visited{
    color: purple;
    border: 2px solid mintcream;
}

a:hover{
    background-color: rgb(164, 255, 225);
    color: black;
    border: 2px solid mintcream;
}

nav{
    width: 80%;
    margin: 10px auto;
    text-align: center;
    line-height: 2;
}

nav a{
    background-color: mintcream;
    padding: 10px;
    color: black;
    border: 2px solid mintcream;
    border-radius: 4px;
    text-decoration: none;
}

nav a:hover{
    color: black;
    background-color: rgb(164, 255, 225);
}